@import "tailwindcss";

.header
{
    background-color: #292a2e;
    height: fit-content;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field
{
    background-color: transparent;
    border: 2px solid maroon;
    outline: none;
    width: 500px;
    padding: 2%;
    border-radius: 100px;
}
label
{
   font-size: larger;
}

.heading
{
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
.button {
    width: fit-content;
    padding: 8px;
    font-size: 1.25rem; /* Equivalent to text-xl */
    font-weight: 800; /* Equivalent to font-extrabold */
    background-color: white;
    color: orange;
    border: 2px solid orange;
    border-radius: 12px; /* Equivalent to rounded-xl */
    transition: background-color 0.2s, color 0.2s;
    margin-inline: "auto";
  }
  
  .button:hover {
    background-color: orange;
    color: white;
  }
  
  .userBox
  {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    background-color: rgb(247, 171, 58);
    align-items: "center";
    width: fit-content;
    height: fit-content;
    padding: 10%;
    margin: auto;
    align-content: center;
  }

  .addressBox
  {
    display: grid;
    column-gap: 50px;
    background-color: rgb(247, 171, 58);
    align-items: "center";
    width: fit-content;
    height: fit-content;
    padding-inline: 10%;
    margin: auto;
    align-content: center;
  }
  .logres
  {

  }
